@model E_Dnevnik.Models.TeacherOddelenie

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            <div style="padding:30px 0;">
                <a href="/" class="btn btn-link">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    <span>Назад кон почетна</span>
                </a>
            </div>

            <div class="login-form" style="margin-bottom:30px;">
                <h4>Дали сте сигурни дека сакате да ги избришите следните подесување ?</h4>
                <hr />
                <dl class="dl-horizontal">
                   
                  

                </dl>
                <div class="form-group">
                    <dl>
                        <dt>
                            Назив на одделението
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Oddelenie.Name)
                        </dd>

                    </dl>
                </div>

                <div class="form-group">
                    <dl>
                        <dt>
                            Наставник
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Teacher.Name)
                        </dd>
                    </dl>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Избриши" class="btn btn-primary bt-block" />
                        <p class="small" style="margin:5px 0 0 0;">Зачувај ги промените пред напуштање на страната.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>